.vscode/
.DS_Store
*.sln
*.meta
*.asset
*rsp
bin/
obj/
*.dll
build/
Temp/
Logs/
ProjectSettings/
UserSettings/
Resources/
Scenes/
Settings/
Packages/
Library/
Plugins/
Editor/
ExResources/
DebugBuild/
Font/
Live2D/
BGM/
TextMesh Pro/
ExternalProgram/sbv2/lib/
node_modules/